<article>
    <nav>
        <h1>Sign up</h1>
        
        <a href="/" class="secondary">Go back</a>
    </nav>
    <form action="">
        
        <label>
            Username
            <input type="text" name="username" placeholder="Username" [(ngModel)]="username">
        </label>
        <label>
            Email
            <input type="email" name="email" placeholder="Email" aria-label="Email" autocomplete="email" [(ngModel)]="email">
        </label>
        <label>
            Password
            <input type="password" name="password" placeholder="Password" [(ngModel)]="password">
        </label>
        <button (click)="onClick()">Submit</button>
    </form>
</article>
