<section>
  <nav>
    <ul>
      <a href="/">
        <li>
          <strong class="pico-color-cyan-450">Croni</strong>
        </li>
      </a>
    </ul>
    
    <ul>
      <li>
        <nav>
          <ul>
            <li>
              <a class="secondary" href="/project-list">
                projects
              </a>
            </li>
            <li>
              <a class="secondary" href="/profile">
                profile
              </a>
            </li>
          </ul>
        </nav>
      </li>
    </ul>
  </nav>
</section>