<nav>
    <ul>
      <a href="landing.html">
        <li class="pico-color-cyan-450">
          <strong>Croni</strong>
        </li>
      </a>
    </ul>
    <ul>
      <li>
        <!-- <a href="">
          profile
        </a> -->
        <details class="dropdown">
          <summary>Account</summary>
          <ul dir="rtl">
            <li>
              profile
            </li>
            <li>
              settings
            </li>
          </ul>
        </details>
      </li>
    </ul>
  </nav>